body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  h1,
  h2 {
    margin: 0;
  }
  h3 {
    text-transform: uppercase;
    margin-bottom: 2em;  

  }
  h4 {
    margin: 0;
    padding: .5em 0;
  }
  h5 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }

  .btn {
    display: inline-block;
    background: #fff;
    color: #000;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border: solid 0.1em;
    text-transform: uppercase;
  }
  .btn:hover {
    background: #000;
    color: #fff;
  }

/* Nav  */
nav {
  top: 0;
  width: 100%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0.8em 2em;
  overflow: hidden;
}

ul.topnav li {float: right;}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
}

ul.topnav li.left {
  float: left;
  font-size: larger;
}
 header::after {
  content: '';
  clear: both;
 }


/* Home */
#home .content-wrap {
  text-align: center;
  padding: 2em;
}

#home img {
  opacity: .4;;
}

.pflaster {
  width: 300px;
  height: 50px;
  font-size: 0.7em;
  transform: translateY(-100px) rotate(-90deg);
}


/* Section A  Classes */

#section-a {
  padding: 2em 4em;
}

#section-a ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-a li {
  margin-bottom: 1em;
}

.card-content {
  padding: 1.5em;
}


  /* Section B About Me*/

#section-b {
    /* background: #efefef; */
    padding: 2em 4em;
    background-image: url('./img/burton.png');
    background-repeat: no-repeat;
    /* opacity: 0.6; */
    background-position: right;
    background-size: contain;
  }

.about {
  grid-column-start: 1;
}
.about-text {
  grid-column-start: 1;

}

.profile {
  grid-column-start: 2;
  place-self: center;
}

.profile img {
  height: 350px;
  width: 350px;
}

.questions {  
  grid-column-start: 3;
  text-align: end;
  align-self: flex-end;
}

  /* Section C / About me part II */

  #section-c {
    padding: 2em 4em;
  }
  
  /* Section D / Gallery */

  #section-d {
    padding: 2em 4em;
  }

  
  /* Footer */
  
  #main-footer {
    padding: 2em 4em 6em 4em;
  }

  .upper {
    text-transform: uppercase;
  }

  ul.smallnav li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .7em;
  }

  ul.smallnav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
  }

.item2 {
  grid-column-start: 3;
  text-align: end;
}
.item3 {
  align-self: flex-end;
}

.item5 {
  text-align: end;
  grid-column-start: 3;
  grid-row-start: 2;
}
.get-in-touch {
  font-size: small;
}
.item6, .item6 a {
  color: rgb(170, 170, 170);
  font-size: x-small;
  text-align: end;
  grid-column-start: 3;
  grid-row-start: 2;
  align-self: flex-end;
}
  
  /* Media Queries */
  @media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-a li {
      width: 31%;
    }

    #section-b .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-b p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-a ul {
      grid-column: 2/4;
    }
  
    .box {
      grid-column: span 2;
    }
    
    .grid-b {
      display: grid;
      grid-template-columns: 33% auto auto;
      grid-column-gap: 2em;
    }

    .grid-img {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-row-gap: .3em;
      gap: .3em;
    }
    
    .grid-footer {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-row-gap: 4em;

    }
  }
  

  @media screen and (max-width: 600px) {
    ul.topnav li.left, 
    ul.topnav li {float: none;}

  .item2, .item5, .item6, .questions {
    text-align: left;
    padding-top: 1em;
  }

  .item4 ul.smallnav {
    padding: 0;
    margin-top: 1em;
  }
  }
